/* Utility Classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #B91450;
  font-family: 'Roboto', sans-serif;
}

d-flex {
  display: flex;
}

/* Section Ticket Generator */
#ticket_generator {
  background-color: white;

}
